# Byte-compiled / optimized / DLL files
__pycache__/



# Distribution / packaging
.Python
build/


# Flask stuff:
instance/
.webassets-cache



# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# vs code stuff
.vscode/

# omia sekoiluja
komentoja.*
file_explanations.txt
commands_used.txt

