<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />

    <title>Flower Store login</title>
  </head>
  <body class="bg-success">
    <div class="container">
      <div class="row vh-100 align-items-center justify-content-center">
        <div class="col-sm-10 col-md-8 col-lg-6 bg-white rounded p-4 shadow">
          <div class="row justify-content-center mb-4"></div>
          <form class="needs-validation" novalidate action="/signup_result" method="POST">
            <div class="row justify-content-center mb-4">
              <div class="col">
                <label for="first_name" class="form-label">First name</label>
                <input
                  type="text"
                  class="form-control"
                  id="first_name"
                  name="signup_firstname"
                  value="" 
                  required                
                />
                <div class="valid-feedback">
                  Done!
                </div>
                <div class="invalid-feedback">
                  Please enter first name!
                </div>
              </div>
              <div class="col">
                <label for="lastname" class="form-label">Last name</label>
                <input
                  type="text"
                  class="form-control"
                  name="signup_lastname"
                  id="lastname"
                  value="" 
                  required 
                />
                <div class="valid-feedback">
                  Done!
                </div>
                <div class="invalid-feedback">
                  Please enter last name!
                </div>
              </div>
            </div>
            <div class="row justify-content-center mb-4">
              <div class="col-6">
                <label for="address" class="form-label">Address</label>
                <input
                  type="text"
                  class="form-control"
                  name="signup_adress"
                  id="address"
                  value="" 
                  required 
                />
                <div class="valid-feedback">
                  Done!
                </div>
                <div class="invalid-feedback">
                  Please enter address!
                </div>
              </div>
              <div class="col-3">
                <label for="city" class="form-label">City</label>
                <input
                  type="text"
                  class="form-control"
                  name="signup_city"
                  id="city"
                  value="" 
                  required 
                />
                <div class="valid-feedback">
                  Done!
                </div>
                <div class="invalid-feedback">
                  Please enter city!
                </div>
              </div>
              <div class="col-3">
                <label for="post-code" class="form-label">Post code</label>
                <input
                  type="text"
                  class="form-control"
                  name="signup_postalcode"
                  id="post_code"
                  value="" 
                  required
                />
                <div class="valid-feedback">
                  Done!
                </div>
                <div class="invalid-feedback">
                  Please enter post code!
                </div>
              </div>
            </div>
            <div class="mb-4">
              <label for="email" class="form-label">email address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                name="signup_email"
                value="" 
                required              
              />
              <div class="valid-feedback">
                Done!
              </div>
              <div class="invalid-feedback">
                Please enter email!
              </div>              
            </div>
            <div class="mb-4">
              <label for="password" class="form-label">password</label>
              <input
                type="password"
                class="form-control"
                id="signup_password"
                name="signup_password"
                aria-describedby="passwordHelp"
                value="" 
                required   
              />
              <div id="passwordHelp" class="form-text">Should be atleast 8 characters</div>
              <div class="valid-feedback">
                Done!
              </div>
              <div class="invalid-feedback">
                Password should be at least 8 characters long!
              </div>     
            </div>
            <div class="mb-4" class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="term_and_conditions"
                value=""
                onclick="enable(this)"
                required
              />
              <label class="form-check-label" for="term_and_conditions"
                >Agree to terms and conditions</label
              >
              <div class="invalid-feedback">
                You must agree before submitting.
              </div>
            </div>
            <button
              type="submit"
              id="submit_btn"
              class="btn btn-success w-100 mb-4"
              disabled
            >
              sign up
            </button>
          </form>
          <div class="mb-8">
            <p class="mb-0 text-center">
              Or log in
              <a href="/login" class="text-decoration-none link-success">&nbsp here</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
      integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
      crossorigin="anonymous"
    ></script>
    <script>
      function enable(checkbox) {
        checkbox.checked 
          ? (document.getElementById('submit_btn').disabled = false)
          : (document.getElementById('submit_btn').disabled = true);
      }

      (function () {
        'use strict';       
       
        const forms = document.querySelectorAll('.needs-validation');

        Array.prototype.slice.call(forms).forEach(form => {
          console.log('form: ', form.checkValidity);
          form.addEventListener(
            'submit',
            event => {              
              !form.checkValidity() ?  event.preventDefault() : event.stopPropagation();              
              form.classList.add('was-validated');
            },
            false
          );
        });
      })();
    </script>
  </body>
</html>
