{% extends "/main/layouts/base_layout.html" %}
<!-- prettier ignore -->
{% block content %}
<div class="container mt-5">
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Status</th>
          <th scope="col">Time</th>
          <th scope="col">Sum</th>
          <th scope="col">Products</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}        
          <tr>           
            <th scope="row">{{loop.index}}</th>
            <td>{{order.status}}</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>6</td>
            <td><a href="#">See details</a></td>         
          </tr>       
        {% endfor %}
      </tbody>
    </table>
  </div>  
</div>
{% endblock %}
