{% extends "/main/layouts/base_layout.html" %}
<!-- prettier ignore -->
{% block content %}
<div class="container mt-5">
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Shopping cart ID</th>
          <th scope="col">Status</th>
          <th scope="col">Time</th>
          <th scope="col">Sum</th>
          <th scope="col">Products</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}        
          <tr>           
            <th scope="row">{{order.cart_id}}</th>
            <td>{{order.status}}</td>
            <td>{{order.modified_at | datetime}}</td>
            <td>{{order.sum}}</td>
            <td>{{order.amount}}</td>
            <td><a href="{{ '/order/{}'.format(order.cart_id) }}">See details</a></td>         
          </tr>       
        {% endfor %}
      </tbody>
    </table>
  </div>  
</div>
{% endblock %}
