{% extends "/main/layouts/base_layout.html" %}
<!-- prettier ignore -->
{% block content %}
<div class="container">
  <div class="row mx-4 my-4">
    <div class="col-md-8">
      <div class="title">
        <h4><b>Shopping Cart</b></h4>
      </div>
      <div class="row border-top border-bottom">
        {% for flower in cart %}
        <div class="row main align-items-center">          
          <div class="col-2 mt-2">
            <img class="img-fluid" src="{{flower.picture}}" />
          </div>
          <div class="col">
            <div class="row text-muted">{{flower.latin_name}}</div>
            <div class="row">{{flower.name}}</div>
          </div>
          <div class="col">
            <div class="input-group mt-2">
              <span class="input-group-btn">
                <button
                  type="button"
                  class="btn btn-danger btn-number"
                  id="minus"
                  onclick="decreaseValue()"
                >
                  <i class="bi bi-dash-lg"></i>
                </button>
              </span>
              <input
                type="number"
                class="form-control input-number"
                id="number"
                value="{{flower.quantity}}"
                min="1"
                max="15"
                name="amount"
              />
              <input type="hidden" name="id" value="{{ id }}" />
              <span class="input-group-btn">
                <button
                  type="button"
                  class="btn btn-success btn-number"
                  id="plus"
                  onclick="increaseValue()"
                >
                  <i class="bi bi-plus-lg"></i>
                </button>
              </span>
            </div>
          </div>
          <div class="col">
            &euro; {{flower.total_price}} <span class="close">&#10005;</span>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="back-to-shop">
        <a href="#">&leftarrow;</a><span class="text-muted">Back to shop</span>
      </div>
    </div>
    <div class="col-md-4 summary" style="background-color: #e7e9eb">
      <div style="margin-top: 1em">
        <h5><b>Summary</b></h5>
      </div>
      <hr />
      <div class="row mt-4">
        <div class="col">flowers items </div>
        <div class="col text-right"> {{aggregate.quantity}}</div>
      </div>
      <div class="row mt-4">
        <div class="col">flowers total </div>
        <div class="col text-right"> {{aggregate.quantity_total}}</div>
      </div>
      <div class="row mt-4">
        <div class="col">Status</div>
        <div class="col text-right">Open</div>
      </div>
      <hr />
      <div class="row mt-4">
        <div class="col">TOTAL PRICE</div>
        <div class="col text-right">&euro; {{aggregate.total}}</div>
      </div>
      <div class="row mt-4 mx-2">
        <button type="button" class="btn btn-success">Place order</button>
      </div>
    </div>
  </div>
</div>
<script>
  function increaseValue() {
    document.getElementById('minus').disabled = false;
    var value = parseInt(document.getElementById('number').value, 10);
    value = isNaN(value) ? 0 : value;
    console.log(typeof value);
    value++;
    if (value == 15) document.getElementById('plus').disabled = true;
    document.getElementById('number').value = value;
  }

  function decreaseValue() {
    document.getElementById('plus').disabled = false;
    var value = parseInt(document.getElementById('number').value, 10);
    value = isNaN(value) ? 0 : value;
    value < 1 ? (value = 1) : '';
    value--;
    if (value == 1) document.getElementById('minus').disabled = true;
    document.getElementById('number').value = value;
  }
</script>
{% endblock %}
