{% extends "/main/layouts/base_layout.html" %}
<!-- prettier ignore -->
{% block content %}
<div class="container">
  <div class="row mx-2 my-2">
    <div class="col-md-8">
      <div class="title">
        <h4><b>Shopping Cart</b></h4>
      </div>
      <div class="row border-top border-bottom">
        {% for flower in cart %}
        <div class="row main align-items-center my-2">
          <div class="col-2">
            <img class="img-fluid" src="{{flower.picture}}" />
          </div>
          <div class="col-2">
            <div class="row text-muted">{{flower.latin_name}}</div>
            <div class="row">{{flower.name}}</div>
          </div>
          <div class="col-4">
            <div class="input-group">
              <span class="input-group-btn">
                <button
                  type="button"
                  class="btn btn-danger btn-number minus plus_minus"
                  name="minus"
                >
                  <i class="bi bi-dash-lg"></i>
                </button>
              </span>
              <input
                type="number"
                name="{{flower.id}}"
                class="form-control input-number"
                id="number"
                value="{{flower.quantity}}"
                min="1"
                max="15"
                name="amount"
                width="50"
              />
              <input type="hidden" name="id" value="{{ id }}" />
              <span class="input-group-btn">
                <button
                  type="button"
                  class="btn btn-success btn-number plus_minus"
                  name="plus"
                >
                  <i class="bi bi-plus-lg"></i>
                </button>
              </span>
            </div>
          </div>
          <div class="col-2">
            {{flower.quantity}}
            <span
              >&#10005; {{flower.price}} <br />
              <strong>{{flower.total_price}} &euro;</strong></span
            >
          </div>
          <div class="col-2">
            <a
              href="{{'/shoppingcart/remove/{}/{}'.format(flower.id, cart_id)}}"
              class="btn btn-danger btn-sm"
              role="button"
              >Remove flower</a
            >
          </div>
        </div>
        <hr style="margin: 0" />
        {% endfor %}
      </div>
      <div class="row main align-items-center my-2">
        <div class="col-4">
          <a href="/flowers" style="text-decoration: none">
            <span class="text-muted">&leftarrow; Back to shop</span>
          </a>
        </div>
        <div class="col-8">
          <form
            action="/shoppingcart/update_shopping_cart"
            method="POST"
            class="d-grid gap-2"
          >
            {% for flower in cart %}
            <input
              type="hidden"
              name="{{flower.id}}"
              value="{{flower.quantity}}"
              id="{{flower.id}}"
            />
            {% endfor %}
            <input
              type="hidden"
              name="shopping_cart_id"
              value="{{ cart_id }}"
            />
            <button type="submit" class="btn btn-primary btn-lg btn-block">
              update order
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4 summary" style="background-color: #e7e9eb">
      <div style="margin-top: 1em">
        <h5><b>Summary</b></h5>
      </div>
      <hr />
      <div class="row mt-4">
        <div class="col">flowers items</div>
        <div class="col text-right">{{aggregate.quantity}}</div>
      </div>
      <div class="row mt-4">
        <div class="col">flowers total</div>
        <div class="col text-right">{{aggregate.quantity_total}}</div>
      </div>
      <div class="row mt-4">
        <div class="col">Status</div>
        <div class="col text-right">Open</div>
      </div>
      <hr />
      <div class="row mt-4">
        <div class="col">TOTAL PRICE</div>
        <div class="col text-right">&euro; {{aggregate.total}}</div>
      </div>
      <div class="row mt-4 mx-2">
        <form class="d-grid gap-2" action="shoppingcart/order" method="POST">
          <input type="hidden" name="order_id" value="{{cart_id}}" />
          <button type="submit" class="btn btn-success btn-lg btn-block">
            Place order
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="/static/javascript/shoppingcart.js"></script>
{% endblock %}
