{% extends "/main/layouts/base_layout.html" %} {% block content %}
<div class="container">
  <div class="card mt-4">
    <div class="row no-gutters">
      <div class="col-auto">
        <div class="img-big-wrap">
          <img src="/static/images/samettikukka.jpg" width="500" height="600" />
        </div>
      </div>
      <div class="col">
        <div class="card-block px-2">
          <article class="card-body p-5">
            <h3 class="title mb-3">{{flower.name}}</h3>
            <p class="price-detail-wrap">
              <span class="price h3 text-warning">
                <span class="currency">EUR $</span>
                <span class="num">{{flower.price}}</span>
              </span>
              <span>/per kpl</span>
            </p>
            <dl class="item-property">
              <dt>Description</dt>
              <dd>
                <p>{{flower.description}}</p>
              </dd>
            </dl>
            <dl class="param param-feature">
              <dt>Latin name</dt>
              <dd>{{flower.latin_name}}</dd>
            </dl>
            <dl class="param param-feature">
              <dt>Color</dt>
              <dd>Black and white</dd>
            </dl>
            <dl class="param param-feature">
              <dt>Available in stock</dt>
              <dd>{{flower.quantity}}</dd>
            </dl>
            <hr />
            <dl class="param param-feature">
              <dt>Quantity:</dt>
              <dd></dd>
            </dl>
            <dl class="param param-feature">
              <a
                href="{{'/shoppingcart/add_flower/{}/{}'.format(flower.id, cart_id)}}"
                class="btn btn-success"
                role="button"
                >Add to the shopping cart</a
              >
            </dl>
            <hr />
          </article>
        </div>
      </div>
    </div>
    <div class="row" style="text-align: center;">
      <a href="/flowers" style="text-decoration: none">
        <span class="text-muted"><strong>&leftarrow; Back to shop</strong></span>
      </a>
    </div>
  </div>  
  {% endblock %}
</div>
