<html>
  <head>
    <title>Unauthorized</title>
    <script language="JavaScript" type="text/javascript">
      var seconds = 4;
      var url = "{{url_for('main.home')}}";

      function redirect() {
        if (seconds <= 0) {
          window.location = url;
        } else {
          seconds--;
          document.getElementById('pageInfo').innerHTML =
            'Redirecting to Home Page after ' + seconds + ' seconds.';
          setTimeout('redirect()', 1000);
        }
      }
    </script>
  </head>
  {% extends "/main/layouts/base_layout.html" %}
  <!-- prettier ignore -->
  {% block content %}
  <body onload="redirect()">
    <div class="container mt-5">
      <h2>You have to have admin priviledges to access this page</h2>
      <p id="pageInfo"></p>
    </div>
  </body>
  <!-- prettier ignore -->
  {% endblock %}
</html>